# ignore typescript configuration files
**/tsconfig.*
# ignore typescript files
**/*.ts
# include typescript definition files
!**/*.d.ts
# ignore typings configuration file
typings.json
# ignore typings folder
typings/
**/node_modules/
build/
src/
test/
*.tgz
debug.log
gulpfile.js
**/tsconfig*.*
tslint.json
webpack.*
**/.vscode
.npmignore
.gitignore
.gitmodules

